h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #292929;
  font-weight: 600;
  text-align: center;
  padding-top: 350px;
}
